/*GENERALES*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
  font-family: "Helvetica", Arial, sans-serif;
}

main {
  overflow: hidden;
}

footer {
  position: absolute;
  display: flex;
  justify-content: space-between !important; /* Espacio entre elementos */
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden !important;
  padding: 10px !important; /* Espacio dentro del footer */
}

.button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    min-width: 200px;
    min-height: 50px;
    margin-top: 30px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border: none !important;
    border-radius: 5px !important;
    text-decoration: none;
    text-align: center;
    float: right;
    overflow: hidden !important;
    transition: background 0.3s ease !important; /* Smooth transition */
}

.button:hover {
  background: url('imagenes/fondo_boton.png');
  background-size: cover; /* Ensures the image covers the button */
  color: #f2f2f2; /* Cambia el color del texto en hover */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7); /* Stronger inner shadow on hover */
}

.button a:hover {
  background: url('imagenes/fondo_boton.png') no-repeat center center;
  color: #f2f2f2; /* Asegúrate de que el color del texto cambie también */
}

/*Formato de listado de instrucciones*/

ul {
  padding-left: 100px;    /* Agrega padding a la izquierda */
  margin: 20px; 
  float: center;
  overflow: hidden;
}

ul li {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 8px;
}

/* Estilo para las listas ordenadas */
ol {
  list-style-type: none; /* Elimina los puntos de viñeta */
  padding-left: 100px;       /* Quita el padding a la izquierda */
  padding-bottom: 60px;
  margin-left: 60px; /* Eliminar margen izquierdo por defecto */
  text-align: left;
}

ol li{
  padding-left: 50px;       /* Quita el padding a la izquierda */

}

.titulo {
  font-weight: bold;      /* Hace los títulos más destacados */
  margin-top: 10px;      /* Espacio entre cada título */
  font-size: 1.2em;       /* Aumenta el tamaño de la fuente */
  font-family: Helvetica, Arial, Geneva, sans serif;
}

.resaltar {
  font-weight: 600;
  background-color: black; /* Cambia el color de fondo */
  padding: 2px 4px; /* Espacio alrededor del texto */
  height: 5%;
  line-height: 1.2;
  vertical-align: middle;
  margin: 2px;
  border-radius: 3px; /* Bordes redondeados */
  border: 2px solid #717171;
  display: inline-block; /* Para que el elemento se comporte como bloque y pueda tener ancho/alto */
  color: white;
}

/* The Overlay (background) */
.overlay {
  height: 100%;
  width: 0; /* Comienza con ancho 0 */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity */
  overflow: hidden;
  transition: width 0.5s ease, opacity 0.5s ease; /* Efecto de transición */
  opacity: 0; /* Comienza oculto */
}

/* Show the overlay */
.overlay.show {
  width: 100%; /* Ocupa todo el ancho cuando está visible */
  opacity: 1; /* Totalmente visible */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 90%; /* 100% width */
  text-align: center; /* Centered text/links */
  align-items: center;
  margin-top: 10px; /* top margin to avoid conflict with the close button on smaller screens */
  margin-left: 55px;
  color:#f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: rgb(146, 146, 146);
}

.overlay .closebtn:hover {
  color: white;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
      font-size: 20px;
  }
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
}

.inst {
  position: fixed; /* Permite que el botón flote */
  right: 20px; /* Ajusta la distancia desde el borde derecho */
  top: 20px; /* Ajusta la distancia desde la parte superior */
}

.inst span {
  display: flex; /* Cambiar a flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 50px; /* Ajusta el tamaño del círculo */
  height: 50px; /* Ajusta el tamaño del círculo */
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 50%; /* Hace que sea un círculo */
  border: none !important;
  text-align: center !important; /* Centra el texto */
  line-height: 50px; /* Centra el texto verticalmente */
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.3s; /* Transición suave al cambiar de color */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.inst span:hover {
  background: url('imagenes/fondo_boton.png');
  background-size: cover; /* Ensures the image covers the button */
  color: #f2f2f2; /* Cambia el color del texto en hover */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7); /* Stronger inner shadow on hover */
}


/*PAGINA DE INICIO*/

/* Fondo */
.inicio {
  background: url('imagenes/overview_ditella.jpg');
  background-size: cover;
  position: relative; /* Posiciona el contenedor relativo para colocar el overlay */
  overflow: hidden;
}

/* Asegura que todas las diapositivas tengan el mismo tamaño */
.mySlides img, 
.mySlides video {
  width: 100%;
  height: 100%; /* Aseguramos que todas las slides llenen el contenedor */
  object-fit: cover; /* Ajusta el contenido para cubrir todo el espacio sin distorsionarse */
}

/* Aseguramos que las diapositivas estén absolutamente posicionadas y llenen el contenedor */
.mySlides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Ocultas por defecto */
  padding: 2%;
}

/* Contenedor del slideshow para que las slides ocupen todo el espacio */
.slideshow-container {
  width: 95%;
  height: 100vh; /* Altura total de la ventana gráfica */
  position: relative;
  overflow: hidden;
  transition: filter 0.5s ease; /* Transición suave para el desenfoque */
  margin: auto;
}

/* Estilo para el fondo desenfocado */
.slideshow-container.blurred {
  filter: blur(5px) brightness(0.5); /* Aplicar desenfoque y oscurecer el fondo */
}

/* Animación de desvanecimiento para aparecer */
.fade {
  animation-name: fadeIn; /* Se usa para hacer aparecer */
  animation-duration: 2.5s;
  animation-timing-function: ease;
}

/* Keyframes para fade-in */
@keyframes fadeIn {
  from {opacity: 0.1;}
  to {opacity: 1;}
}

/* Zoom-in effect */
.zoom {
  animation-name: zoomIn;
  animation-duration: 3s;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* Contenedor de items que incluye el logo y el botón */
.items {
  display: flex;
  flex-direction: column; /* Alineación vertical de los elementos */
  align-items: center;
  justify-content: center; /* Centrado vertical y horizontal */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ajustar el tamaño del contenedor si es necesario */
  height: auto; /* Ajustar altura automáticamente */
  overflow: hidden;
}

/* Ajustar el logo */
#logoContainer {
  display: none;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el logo y el botón */
  transition: opacity 0.5s ease;
  width: 100%; /* Permitir que el logo ocupe todo el ancho si es necesario */
}

/* Aumentar el tamaño del logo */
#logoImage {
  width: 50% !important; /* Tamaño fijo para el logo */
  height: auto; /* Mantener la proporción */
}

/* Ajustar el botón */
#startTourButton {
  padding: 12px 20px;
  display: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.5s ease;
}

#startTourButton:hover {
  background: url('imagenes/fondo_boton.png');
  background-size: cover;
  color: #f2f2f2;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
}

  
  /*Fin de pagina de inicio*/

  /*GENERALES DE PAGINAS SIGUIENTES*/

footer{
  font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
}

/*LOADER*/
/* Estilos para el video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el video detrás del contenido */
  object-fit: cover; /* Asegura que el video cubra todo el fondo */
}

/*ONBOARDING*/

/* Panel de onboarding en el lado izquierdo */
.onboarding-panel {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 80%; /* Ancho del panel */
  height: auto; /* Ajustar a la altura del contenido */
  max-height: 50%; /* Altura mínima para el panel */
  background-color: #F9BC00; /* Fondo semitransparente */
  color: black;
  padding: 1%; /* Padding ajustado */
  box-sizing: border-box;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos en el eje horizontal */
  border-radius: 8px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.onboarding-panel.minimized {
  width: 300px;
}

/* Botón de saltear en la esquina superior derecha del panel */

.closebtn {
  color: black;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  padding: 5px 10px;
  transition: color 0.3s ease;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  font-size: 16px;
}

/* Efecto de texto con imagen en hover */
.closebtn:hover {
  color: transparent; /* Hacer el texto transparente */
  background-image: url('imagenes/fondo_boton.png'); /* Imagen para el efecto de relleno */
  background-clip: text;
  -webkit-background-clip: text; /* Para compatibilidad con navegadores Webkit */
  background-size: cover; /* Ajustar la imagen para que cubra el texto */
  border: 1px solid black;
  border-radius: 2px;
}

/* Botones de navegación */
.navigation-buttons {
  display: flex; /* Utiliza flexbox para centrar */
  justify-content: center; /* Centra los botones horizontalmente */
  width: 100%; /* Asegura que ocupe todo el ancho */
  margin-top: auto; /* Empuja los botones hacia abajo */
}

/* Estilos de contenido */
.onboarding-step {
  margin-bottom: 20px;
  margin-top: 2%;
  align-items: center;
  text-align: center;
  display: none;
}

.onboarding-panel h2{
  margin: 1%;
}

/* Estilos para los botones de navegación */
.onboarding-buttons {
  display: flex;
  align-content: center;
  justify-content: baseline;
}

.nav-button {
  display: inline-block !important; /* Ajuste del tamaño del botón al texto */
  width: auto; /* Ajuste automático del ancho */
  font-weight: bold !important;
  color: white !important;
  padding: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border: none !important;
  border-radius: 5px !important;
  cursor: pointer;
  transition: background 0.3s ease !important; /* Smooth transition */
}

.nav-button:hover {
background: url('imagenes/fondo_boton.png');
background-size: cover; /* Ensures the image covers the button */
color: #f2f2f2; /* Cambia el color del texto en hover */
box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7); /* Stronger inner shadow on hover */
}

.container {
  margin-top: 1rem;
  align-items: center; /* Cambia de baseline a center */
}

.row {
  display: flex; /* Asegura que las columnas estén en la misma línea */
  justify-content: space-between; /* Espaciado entre las columnas */
}

.col {
  width: 50%;
  white-space: nowrap;
}

.arrow {
  width: 40px; /* Ancho fijo para que sea un cuadrado */
  height: 40px; /* Alto fijo para que sea un cuadrado */
  margin: 3%;
  margin-top: 1%;
  color: #f1f1f1;
  font-weight: bold;
  border: 2px solid #717171;
  display: inline-flex; /* Cambiado a inline-flex para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  border-radius: 5px; /* Bordes redondeados si se desea */
  transition: fill 0.3s; /* Transición suave para el cambio de color */
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.7);
  text-align: center; /* Centra el texto en caso de que haya */
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Cambia el color de fondo al pasar el mouse */
  color: white; /* Cambia el color del texto al pasar el mouse */
}

.arrow img {
  width: 100%; /* Ajusta el ancho al contenedor */
  height: 100%; /* Ajusta el alto al contenedor */
  object-fit: contain; /* Asegura que la imagen mantenga su relación de aspecto */
}

.arrow:hover polygon {
  fill: white; /* Cambia el color del polígono al pasar el mouse */
}

.pellizcar:hover {
  background: url("imagenes/icono_pellizcar_negro.png");
}

.desplazar:hover {
  background: url("imagenes/icono_desplazar_negro.png");
}

.trackpad-instruction {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre la imagen y el texto */
  margin-bottom: 1%;
}

.row.align-items-center h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ic {
  width: 42px !important; /* Ajusta el tamaño del círculo */
  height: 45px !important; /* Ajusta el tamaño del círculo */
  background-color: rgba(0, 0, 0, 0.7); /* Color de fondo */
  color: white; /* Color del texto */
  padding: 0% !important;
  border-radius: 50% !important; /* Hace que sea un círculo */
  text-align: center !important; /* Centra el texto */
  line-height: 40px !important; /* Centra el texto verticalmente */
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle;
  margin: 2px;
  border: 2px solid #717171;
  display: inline-block; /* Para que el elemento se comporte como bloque y pueda tener ancho/alto */
}
/* Panel de Consejos */
.tips {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  background-color: #F9BC00; /* Igual fondo que el onboarding */
  color: black;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  z-index: 100;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.minimize-btn {
  background: transparent;
  color: black;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Contenido del panel de tips */
.tips-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Trackpad e iconos en el panel */
.trackpad-instruction, .keyboard-tips div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.instruction-icon {
  width: 24px;
  height: 24px;
}

/* Estado minimizado */
.tips.minimized {
  transform: scale(0.9); /* Reducir el tamaño */
  width: wrap; /* Ancho reducido */
  height: auto;
  padding: 1%;
  cursor: pointer;
  overflow: hidden;
}

/* Ocultar contenido al minimizar */
.tips.minimized .tips-content {
  display: none;
}

.a {
  width: 23px; /* Ancho fijo para que sea un cuadrado */
  height: 25px; /* Alto fijo para que sea un cuadrado */
  margin: 3%;
  margin-top: 1%;
  color: #f1f1f1;
  font-weight: bold;
  border: 2px solid #717171;
  display: inline-flex; /* Cambiado a inline-flex para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  border-radius: 5px; /* Bordes redondeados si se desea */
  transition: fill 0.3s; /* Transición suave para el cambio de color */
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 0.7);
  text-align: center; /* Centra el texto en caso de que haya */
}

.a:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Cambia el color de fondo al pasar el mouse */
  color: white; /* Cambia el color del texto al pasar el mouse */
}

.a:hover polygon {
  fill: white; /* Cambia el color del polígono al pasar el mouse */
}